<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Código de Verificação</title>
  </head>
  <body style="font-family: Arial, sans-serif; background-color: #ffffff; color: #4a4a4a; padding: 20px;">
    <main width="100%" cellspacing="0" cellpadding="0">
        <div align="center" style="max-width: 550px; width: 100%; margin: 0 auto;">
            <div style="border-bottom: 1px solid #4747472e; margin-bottom: 0px;">
                <img src="https://encontrarshopping.com/assets_ecommerce/logo.png" alt="Logo" width="200" />
            </div>
          <h2 style="color: #333333;">SEU CÓDIGO É <span style="color: #b66506;">{{code}}</span></h2>
          <p>É válido por 10 minutos.</p>
          <p>Você recebeu esta mensagem por ser novo no <strong style="background-color: #fec85c;">EncontrarShopping.com</strong> ou porque precisa entrar novamente.</p>
          <p>Se acredita que esta mensagem foi enviada para você por engano, ignore</p>
          <!-- <p>Para saber mais sobre nossos Termos de Uso, <a href="#" style="color: #fec85c;">clique aqui</a>.</p> -->
        </div>
    </main>
  </body>
</html>
