<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Fatura do Pedido</title>
  </head>
  <body
    style="
      margin: 0;
      padding: 20px;
      font-family: Arial, sans-serif;
      background-color: #efefef;
      color: #4a4a4a;
    "
  >
    <div align="center">
        <h2 style="color: #333333; margin: 0">Obrigado pela sua compra!</h2>
        <p style="margin: 10px 0 20px">
        Segue abaixo o resumo da sua encomenda.
        </p>
    </div>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      style="
        max-width: 550px;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 6px;
      "
    >
      <tr>
        <td
          align="center"
          style="border-bottom: 1px solid #cccccc; padding: 5px"
        >
          <img
            src="https://encontrarshopping.com/assets_ecommerce/logo.png"
            alt="Logo"
            width="180"
          />
        </td>
      </tr>

      <!-- Dados do Pedido -->
      <tr>
        <td style="padding: 10px 0">
          <table
            width="100%"
            cellpadding="6"
            cellspacing="0"
            style="font-size: 14px"
          >
            <tr>
              <td><strong>Pedido:</strong></td>
              <td>#{{order.order_number}}</td>
            </tr>
            <tr>
              <td><strong>Data do Pedido:</strong></td>
              <td>{{order.created}}</td>
            </tr>
            <tr>
              <td><strong>Método de Pagamento:</strong></td>
              <td>{{order.payment.method.name}}</td>
            </tr>
            <tr>
              <td><strong>Cliente:</strong></td>
              <td>{{order.fullName}}</td>
            </tr>
            <tr>
              <td><strong>Telemóvel:</strong></td>
              <td>{{order.contactPhone}}</td>
            </tr>
          </table>
        </td>
      </tr>

      <!-- Itens da Compra -->
      <tr>
        <td style="padding: 20px 0">
          <h3 style="margin: 0 0 10px">Itens da compra</h3>
          <table
            width="100%"
            cellpadding="8"
            cellspacing="0"
            border="1"
            style="border-collapse: collapse; font-size: 14px; text-align: left"
          >
            <thead style="background-color: #f4f4f4">
              <tr>
                <th colspan="2">Item</th>
                <th>Preço</th>
                <th>Qtd</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
            {{#each order.items}}
                <tr>
                <td colspan="2">{{this.product.name}}</td>
                <td>{{this.price}}</td>
                <td>{{this.quantity}}</td>
                <td>{{this.total}}</td>
                </tr>
            {{/each}}
            </tbody>
          </table>
        </td>
      </tr>

      <!-- Preços -->
      <tr>
        <td style="padding: 10px 0">
          <table
            width="100%"
            cellpadding="8"
            cellspacing="0"
            style="font-size: 14px"
          >
            <tr>
              <td><strong>Desconto:</strong></td>
              <td>0 Kz</td>
            </tr>
            <tr>
              <td><strong>Taxa de Entrega:</strong></td>
              <td>{{order.deliveryPrice}}</td>
            </tr>
            <tr style="border-top: 2px solid #e6e6e6">
              <td><strong>Total:</strong></td>
              <td><strong style="font-size: 16px">{{order.finalTotal}}</strong></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <div
     align="center" 
      style="margin: 1.5rem auto; max-width: 450px; width: 100%;"
    >
      <p>
        Se tiver alguma dúvida sobre seu pedido, entre em contato conosco pelo
        e-mail
        <a href="mailto:encontrarmarketing@gmail.com" style="color: #b66506"
          >encontrarmarketing@gmail.com</a
        >.
      </p>

      <p>
        Obrigado por comprar conosco no
        <strong style="background-color: #fec85c">EncontrarShopping.com</strong
        >!
      </p>

      <hr style="margin-top: 40px; border: none; border-top: 1px solid #ccc" />
    </div>
  </body>
</html>
